In [4]:
%pip install pyspark

Requirement already satisfied: pyspark in /Users/kavishabehrani/opt/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /Users/kavishabehrani/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pyspark

In [8]:
import pandas as pd
pd.read_excel("Pyspark.xlsx")

      name  age
0  kavisha   40
1    gagan   41
2    amyra    7
3   arisha    5

In [9]:
from pyspark.sql import SparkSession #Starting a spark session

In [10]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

22/07/07 06:20:10 WARN Utils: Your hostname, Kavishas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.47 instead (on interface en0)
22/07/07 06:20:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/07 06:20:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/07 06:20:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [11]:
spark

In [17]:
df_pyspark=spark.read.csv('Pyspark.csv')

In [19]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [20]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|kavisha| 40|
|  gagan| 41|
|  amyra|  7|
| arisha|  5|
+-------+---+

In [21]:
df_pyspark=spark.read.option('header','true').csv('Pyspark.csv')

In [22]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_pyspark.head(3)

[Row(name='kavisha', age='40'),
 Row(name='gagan', age='41'),
 Row(name='amyra', age='7')]