In [19]:
!pip install pyspark

Requirement already satisfied: pyspark in ./opt/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [20]:
import pyspark

In [21]:
import pandas as pd
df=pd.read_excel('Pyspark.xlsx')

In [22]:
df.head()

      name  age
0  kavisha   40
1    gagan   41
2    amyra    7
3   arisha    5

In [23]:
from pyspark.sql import SparkSession

In [27]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [28]:
spark

In [49]:
df_pyspark=spark.read.csv('Pyspark.csv')

In [51]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [52]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|kavisha| 40|
|  gagan| 41|
|  amyra|  7|
| arisha|  5|
+-------+---+

In [54]:
df_pyspark=spark.read.option('header','true').csv('Pyspark.csv')

In [55]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [56]:
df_pyspark.head(3)

[Row(name='kavisha', age='40'),
 Row(name='gagan', age='41'),
 Row(name='amyra', age='7')]

In [57]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)